<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ysmdz.mapper.TeachplanMapper">
    <select id="queryAllTeachplan" parameterType="Long" resultType="Map">
        select t.id,t.pname,t.parentid,t.description,t.orderby,
        m.media_id,m.media_fileName from xcplus_content.teachplan t
        left join xcplus_content.teachplan_media m on t.id=m.teachplan_id
        where t.course_id=#{id} and t.status =1
    </select>

    <insert id="insertTeachPlan" parameterType="Map" useGeneratedKeys="true" keyProperty="id">
        insert into teachplan (pname,parentid,grade,media_type,orderby,course_id,status)
        values (#{pname},#{parentid},#{grade},#{mediaType},#{orderby},#{courseId},1);
    </insert>
</mapper>
