<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ysmdz.mapper.TeachplanMediaMapper">
    <insert id="insertMedia" useGeneratedKeys="true" keyProperty="id">
        insert into teachplan_media(teachplan_id,course_id,media_fileName) values(#{teachplanId},#{courseId},#{mediaFileName})
    </insert>

</mapper>
